@font-face {
	font-family: StupidFont;
	src: url(../font/Stupid.ttf);
}

body {
	background-color: #000000;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: StupidFont;
}

/** {
   -webkit-user-select: none;
}*/

#render-canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	-ms-transition: opacity 2s;       
	transition: opacity 2s;
	opacity: 1;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}


#render-canvas:-webkit-full-screen {
    background-color: black !important;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
}

#instructions {
	width: 100%;
	height: 100%;
	text-align:center;
	cursor: pointer;
}

#instructions:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#instructions img {
  vertical-align: middle;
  display: inline-block;
  opacity: 0.9;
}

a {
	color: #09ddcb;
}

h1, h2 {
	color: #ffffff;
}

h1 {
	margin-top: 0;
}

input {
	text-align: center;
}

/* For width 500px and smaller: */
@media only screen and (max-width: 500px) {
    .insImg {
		width: 90%;
	}
	#aboutPageDetail {
		max-height: 600px;
		overflow-y: scroll !important;
	}
	#instructionDetail {
		max-height: 600px;
		overflow-y: scroll !important;
	}
}